body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.loading {
  align-items: center;
  display: flex;
  justify-content: center;
}

.header {
  background-color: rgb(4, 99, 4);
  height: 40px;
  color: rgb(200, 255, 0);
}

.header-nav {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 5px;
}

.nav-link {
  background-color: rgb(170, 103, 233);
}

.album-page-section {
  display: flex;
}

.album-info-section {
  display: flex;
  flex-direction: column;
  padding: 15px;
}

.music-list-aside {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.album-img {
  height: auto; 
  width: auto; 
  max-width: 200px; 
  max-height: 200px;
}

.div-music-card{
  display: flex;
  padding: 6px;
  align-items: center;
  min-height: 50px;
}
